<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Be.Windows.Forms.HexBox" version="1.6.1" targetFramework="net471" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net461" />
  <package id="PacketDotNet" version="1.0.1" targetFramework="net461" />
  <package id="SharpPcap" version="5.0.0" targetFramework="net461" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.2" targetFramework="net461" />
</packages>